
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/columns";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/utilities/sprites";
@import "mixins/_retina-sprites";

$blue0 		: #A8D5FF; // blue - light 
$blue1 		: #529FE7; // blue - light
$blue2 		: #068DD5; // blue - light darker

$green1  	: #67C372; // green1
$green11 	: #64C770; // green1 same but slightly lighter

$red1 		: #FF6E6E; // light red (pink)


.none 		{display: none;}