
// ______________________________________________________ CONTAINER
// ______________________________________________________ 

body, html {
	width:100%;
}

.hve-container {
	max-width: 45em;
	min-width:20em;
	height:100%;
	margin:0 auto;
	padding:1em 2em 0 2em;
	font-size: 11.5pt;
	background:#fff;
}

@media (max-width: 600px) {
	
	.hve-container {
		padding: 0 1em;
		min-width: 17em;
	}
}


// ______________________________________________________ HEADER
// ______________________________________________________ section

.hve-header {
	height:3em;
	position: relative;
}

// ______________________________________________________ hive
// ______________________________________________________ LOADING

.hve-load {
	font-size: 1.3em;
	font-weight: 400;
	color: rgb(146,146,146);
	text-align: center;
	margin: 1em 0 .8em 0;

	i {
		line-height: 1.7em;
		font-size: 1.5em;
		color: rgb(226, 226, 226);
	}
}

// ______________________________________________________ load
// ______________________________________________________ EARLIER
// ______________________________________________________ msgs

.hve-earlier {
	height: 2em;
	line-height: 2em;
	text-align: center;
	
	a {
		padding: .1em .7em;
		font-size: .87em;
		border: 1px solid #529fe7;
		border-radius: .6em;
	}
}

// ______________________________________________________ hive
// ______________________________________________________ TYPE


.hve-type {
	position: absolute;
	right: .6em;
	top: .5em;
	color: #dbdbdb;
	font-size: 1.2em;
}

.hve-type .type {
	background:#9e9e9e;
	padding:.3em;
	font-size:.75em;
	line-height: 1em;
	color:#fff;
	z-index: 9;
	left:50%;
	text-align: center;
	position: absolute;
}

.hve-type:hover .type {
	display: block !important;
}


// ______________________________________________________ hive
// ______________________________________________________ TITLE


h1.hve-title {
	font-size: 1.8em;
	line-height: 1.7em;
	font-weight: 200;
	margin: 0;
}


// ______________________________________________________ MESSAGES
// ______________________________________________________ in 
// ______________________________________________________ feed


.msg {
	width:100%;
	display: inline-block;
	margin:0 0 2em 0;
	position: relative;
	
	p {
		line-height: 1.5em;
	}
	
	.details {
		line-height: 1.1em;
		margin:1em 0 0 0;
		display: inline-block;
		width:100%;
	
		div {
			float:left;
		}
		.author-img {
			/*
width:2em;
			height:2em;
*/
			margin: -.27em .4em 0 0;
			overflow: hidden;
			@include border-radius(2em);
		}
		.author-img img {
			width:2em;
			height:auto;
		}
		.author-name {
			font-size: .95em;
			line-height: .9em;
		}
		.author-name.guest {
			color:rgb(134, 134, 134);
		}
		.timestamp {
			font-size:.8em;
			margin: 0 0.6em 0 0;
			line-height: .8em;
			color:#DFDFDF
		}
	}
	.truncate {
		font-size:.9em;
		padding: 0 0 0 .3em;
	}
}

.attachment {
	width:100%;
	margin:1em 0 0 0;
	color:#888;
	display: inline-block;
	
	.img {
		float:left;
		margin:0 .5em .7em 0;
	}
	img {
		width:3.2em;
		@include border-radius(.2em);
	}
	.title {
		line-height: 1em;
	}
	.download, span /* span: JPG (3.2MB) */ {
		font-size:.9em;
		line-height: 1.9em;
	}
}


@media (max-width: 600px) {

	.msg .details .author-name {
		line-height: .7em;
	}
}

// ______________________________________________________ REPORT
// ______________________________________________________ msg


i.fa.report {
	float:left;
	margin:0 .4em 0 0;
	font-size: .8em;
	line-height: 1.4em;
	color:#bababa;
}
.report-label {
	font-size: .85em;
	margin:0 .5em 0 0;
	color:#989898;
	float:left;
}
ul.report {
	font-size: .85em;
	line-height: 1.4em;
	display: inline-block;
	
	label {
		display: none;
	}
	li {
		display: inline-block;
	}
	a {
		text-decoration: underline;
		margin:0 .5em 0 0;
	}
	a.close, a.close .fa {
		text-decoration: none;
		color: #989898;
	}
}

@media (max-width: 600px) {

	.report-label {
		font-size:.95em;
		width:100%;
		margin:.5em 0 0 0;
	}
	ul.report {
		font-size:1em;
		line-height: 1.6em
	}
}



// ______________________________________________________ POST
// ______________________________________________________ (write message)


.hve-post {
	width:100%;
	display: inline-block;
	padding: 0 0 .25em 0; // for the bottom of the native button:focus fuz
	
	.textarea {
		border: 1px solid #D3D3D3;
		margin: 0 0 .7em 0;
	}
	
	textarea {
		width:100%;
		max-width: 100%;
		font-size: 1em;
		border:none;
		padding:0 0 .5em 0 !important;
	}
	textarea:focus {
		outline: 0;
	}
	
	.post-options {
		margin:.5em 0 0 0;
	}
	.btn {
		padding: .55em 1.1em .65em .65em;
		margin:0 0 0 .5em;
		float:right;
		color:#fff;
		background: #b0b0b0;
		border:none;
		@include border-radius(3px);
		
		.fa {
			font-size: 1.3em;
			padding: 0 .3em 0 0;
		}
	}
	.btn:hover {
		background:#898989
	}
	.btn.user {
		background:$blue1;
	}
	.btn.user:hover {
		background: $blue2;
	}
}

.attach {
	display: inline-block;
	
	.fa {
		font-size:1.2em;
	}
	img {
		float:left;
		margin: 0 .2em 0 0;
		width:3.2em;
		@include border-radius(.2em);
	}
}

@media (max-width: 600px) {

	.attach {
	
		img {
			width:2.5em;
		}
		.fa {
			font-size:1.2em;
		}
	}
}

// ______________________________________________________ Post-area
// ______________________________________________________ EXTRAS
// ______________________________________________________ container


.post-area {

	.extra {
		width:100%;
		display: inline-block;
		position: relative;
	}
}


// ______________________________________________________ REGISTER
// ______________________________________________________ &
// ______________________________________________________ LOGIN


.hve-regin {
	width:100%;
	text-align: center;
	
	// "Register below"
	span.header {
		display: block;
		font-size: 1.4em;
		line-height: .6em;
		color: $blue2;
		margin: 1.2em 0 0;
		
		span {
			font-size:.85em;
		}
	}
	// "You won't lose your comment!
	span.desc {
		@extend span.header;
		color: rgba(169,169,169,1);
		font-size: .95em;
		margin: 0;
		line-height: 1.1;
	}
	
	form {
		max-width: 17.6em;
		margin:0 auto;
	}
	label {
		padding: .7em 0 .1em 0;
		display: inline-block;
		font-size:.9em;
		display: none; // for now TEMPORARY? 
	}
	input {
		width: 19.2em;
		float:right;
		padding: .7em .7em .55em;
		font-size: .85em;
		border:1px solid #b7b7b7;
		margin: .5em 0;
		@include border-radius(2px);
	}
	.btn {
		background: $green1;
		color: #fff;
		float: left;
		margin:.3em 0 0 0;
		width: 100%;
		padding: .7em 0 .75em;
		@include border-radius(4px);
	}
	.btn:hover {
		background:$green11;
	}
	.already-member {
		line-height: 3em;
	}
	
}


@media (max-width: 600px) {
	

}




// ______________________________________________________ EDIT
// ______________________________________________________ PROFILE
// ______________________________________________________ img

// Everything container
span#ava-editor {
	float:left;
}

// Container
.edit-avatar-container {
	width:160px;
	height:60px;
	overflow: hidden;
	display: inline-block;
/* 	border:1px solid pink; */
	position:relative;
	
	label {
		position: absolute;
		top: 13px;
		width: 94px;
		right: 0;
		font-weight: 400;
		font-size: .95em;
		line-height: 1.2em;
	}
}
// For Dev purposes
.edit-avatar-container:hover {
	/* background:#ececec; */
}

// Choose File Button
input#edit-avatar {
	width:100%;
	position:relative;
	z-index: 1;
	margin: -30px 0 0 0;
	height: 100px;
	/* background:rgba(255,255,0,0.55); */
}
input#edit-avatar:focus {
	outline:none;
}

// Avatar Image
canvas#edit-avatar-can {
	position: absolute;
	left: 0;
	top:0;
	z-index: 0;
	width:35px;
	height:35px;
}

.edit-ava-text {
	width: 85px;
	position: relative;
	left: 40px;
	line-height: 1.1em;
	font-size: .95em;
	top: .1em;
}

@media (max-width: 600px) {
	
	span#ava-editor {
		height:70px;
	}
	.edit-ava-text {
		left: 0;
		width: 52px;
		top: 37px;
	}
	.hve-post .btn.user {
		margin: 0 0 0.5em .5em;
	}
}



.hve-footer {
	text-align: right;
	font-size: .8em;
	color: rgb(201, 201, 201);
	margin: 1em 0 0 0;
}


// UNECESSARY Overrides


.hve-post .textarea textarea {
	padding:2% 2% 0 2% !important;
	width:100% !important;
	@include border-radius(3em);
}
.msg {
	margin:0 0 1.7em 0 !important;
}
.msg .details {
	margin:0 !important;
}
.hve-regin form {
	display: inline-block;
	margin:1em 0 2.5em 0 !important;
}
.hve-regin input {
	width:100% !important;
}
.close-report {
	font-size: 1.1em;
	float:none;
	text-shadow: none;
	opacity:1;
	font-weight: 400;
}
.hve-post .btn {
	padding: .55em 1.1em .45em .65em !important;
}




