
.dark			{background:url('../img/texture.png');}
.light		{background:url('../img/texture2.png');}

body, 
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	color:rgb(94, 94, 94);
}

a {
	color:$blue1;
	text-decoration: none;
}
a:hover {
	color:$blue2;
	text-decoration: none;
}

section {
	width:100%; // Review this later..
	display: inline-block; // Destroy this later..
}

@media (max-width: 600px) {
	
	.col-xxs-12 {
		width:100%;
		margin:0;
	}
}