// essentials
@import '_base';
@import '_bootstrap';
@import '_web-general';
@import '_web-footer';
@import '_plugin';


//
// TEMPORARY  Plugin styles 

.hve-type {
	right: .6em;
}

#ava-editor, 
.author-img {
	display: none;
}

.plugin .hve-earlier {
	width:100%;
	top:0 !important;
	line-height: 4em;
}

section.app .plugin .feed-area {
	padding:0 !important;
}

section.app .plugin .hve-earlier, section.app .plugin .hve-new {
	position:relative !important;
	height:3.7em !important;
}

p.msg {
margin: 0;
font-size: 1em;
color: #919191;
}
section.app .plugin .hve-new {
	margin: -2em 0 0 0 !important;
	height:2em !important;
	line-height: .5em !important;
	
}

// 
//




i.fa.report {
	display: none !important;
}

// __________________________________________________ LANDINGG

.landing {
	padding: 4em 0 9em 0;
	color: #fff;
	text-align: center;
	display: block; // NO NEED IF YOU fix section:display:inline-block

	.logo {
		width: 135px;
		height: auto;
		display: block;
		margin:0 auto;
	}
	h1 {
		font-size: 2.5em;
		font-weight: 400;
		line-height: 1.3em;
		text-shadow: 1.5px 1.5px 0 #4197D1;	
		width:100%;
		text-align: center;
		margin: .7em auto 0 auto;
	}
	p.desc {
		font-weight: 300;
		font-size:1.5em;
		width:600px;
		max-width: 100%;
		margin:1em auto 0 auto;
		text-shadow: 1.5px 1.5px 0 #4197D1;
	}
}


@media (max-width: 600px) {

	.landing {
		padding:4em 0;
		
		p.desc {
			font-size: 1.3em;
			margin: .5em auto 0 auto;
			line-height: 1.3em;
			padding: 0 2%;
			font-weight:400;
		}
		.logo {
			width:130px;
		}
		h1 {
			font-size:1.8em;
		}
	}
}//

// __________________________________________________ DESC


section.desc {
	padding:0 0 3em 0;
	display: block; // NOT NECCESSARY FIX section in other css
	color:#eee;
	
	h2 {
		font-weight: 200;
		text-align: center;
		font-family: helvetica;
		color:#e6e6e6;
		line-height: 1.3em;
	}
}

.desc img {
	width:100%; height:auto;
}


// __________________________________________________ APP section

section.app {
	display: block; // NOT NECCESSARY FIX section in other css
	padding:2em 0;
	
	.mobile {
		display: none;
	}
}

@media (max-width: 768px) {
	
	section.app {
		.mobile {
			display: block;
		}
		.desktop {
			display: none;
		}
	}
}



section.app .plugin {
	padding: 0 3% .5em 3%;
	font-size: 1.1em;
	margin-bottom:3.5em;
	color: rgb(136, 136, 136);
	overflow: visible;
	@include border-radius(.2em);

	.feed-area {
		position: relative;
		padding:3em 0 0 0;
	}
	.hve-earlier,
	.hve-new {
		z-index: 2;
		height:3em;
		margin:0;
		font-size:.9em;
		position: absolute;
	}
	.hve-earlier {
		top:1.2em;
	}
	.hve-new {
		width: 100%;
		text-align: center;
		height: auto;
		padding: 0;
		bottom: -.1em;
	}
	
	.post-area {
		padding:1em 0 0 0;
		
		img.profile-preview {
			width: 2.3em;
			height:auto;
			margin:0 .5em 0 4%;
		}
	}
}


@media (max-width: 768px) {
	
section.app .plugin {
		margin-bottom:1em;
		margin-top: 1em;

		.hve-earlier,
		.hve-new {
			left:0;
		}
	}
}//
 
@media (max-width: 600px) {
	
	section.app .plugin {
		border:none;
		padding:0;
	}
}


// __________________________________________________ SIDEBARR

.app {
	h2 {
		font-size:1.7em;
		margin:2em 0 1em 0;
	}
}

ul.dev {
	padding:0;
	
	li {
		list-style: none;
		margin: 0 0 1em 0;
		font-size: 1.2em;
		color: rgb(112, 112, 112);
		line-height: 1.3em;
		padding: .8em;
		box-shadow: 1px 1px 4px #C9C9C9;
		background: rgb(250, 250, 250);
		line-height: 1.5em;
	}
	span {
		display: block;
		color: rgb(185, 185, 185);
		font-size: .9em;
		border-top: 1px solid rgb(255, 214, 86);
		padding: 0.4em 0 0 0;
		margin: .4em 0 0 0;
	}
}













