
$blue0 		: #A8D5FF; // blue - light 
$blue1 		: #529FE7; // blue - light
$blue2 		: #068DD5; // blue - light darker

$green1  	: #67C372; // green1
$green11 	: #64C770; // green1 same but slightly lighter

$red1 		: #FF6E6E; // light red (pink)


.none 		{display: none;}
.dark			{background:url('../img/texture.png');}
.light		{background:url('../img/texture2.png');}

body, 
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	color:rgb(94, 94, 94);
}

a {
	color:$blue1;
	text-decoration: none;
}
a:hover {
	color:$blue2;
	text-decoration: none;
}

section {
	width:100%; // Review this later..
	display: inline-block; // Destroy this later..
}

@media (max-width: 600px) {
	
	.col-xxs-12 {
		width:100%;
		margin:0;
	}
}