
$blue0 : #A8D5FF; // blue - light 
$blue1 : #529FE7; // blue - light
$blue2 : #068DD5; // blue - light darker


$green1  : #67C372; // green1
$green11 : #64C770; // green1 same but slightly lighter

$red1 : #FF6E6E; // light red (pink)


body, textarea {
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	color:rgb(94, 94, 94);
}

a {
	color:$blue1;
	text-decoration: none;
}

a:hover {
	color:$blue2;
}

.w1 {
	width:100%;
}

.none {
	display: none;
}


section {
	width:100%;
	display: inline-block;
}

a {
	text-decoration: none;
}