// essentials
@import '_base';
@import '_bootstrap';
@import '_web-general';
@import '_plugin';

// Temporary
i.fa.report {
	display: none !important;
}

.plugin {
	
	textarea {
		min-height: 80px;
	}
}

footer {
	font-size:.8em;
	
	.col-xxs-12 {
		padding:0;
	}
	.copyright {
		float:right;
		color:gray;
	}
}

@media (max-width: 600px) {
	
	footer {
	
		.col-xxs-12 {
			padding:0;
		}
	}
}