// essentials
@import '_base';
@import '_bootstrap';
@import '_web-general';
@import '_plugin';

// Temporary
i.fa.report {
	display: none !important;
}

body {
	background: url(http://subtlepatterns.com/patterns/cream_dust.png);
}