// essentials
@import '_base';
@import '_bootstrap';
@import '_web-general';
@import '_web-footer';
@import '_plugin';
@import '_generate';


//
// TEMPORARY  Plugin styles 

.hve-type {
	right: .6em;
}

#ava-editor, 
.author-img {
	display: none;
}

.plugin .hve-earlier {
	width:100%;
	top:0 !important;
	line-height: 4em;
}

section.app .plugin .feed-area {
	padding:0 !important;
}

section.app .plugin .hve-earlier, section.app .plugin .hve-new {
	position:relative !important;
	height:3.7em !important;
}

p.msg {
margin: 0;
font-size: 1em;
color: #919191;
}
section.app .plugin .hve-new {
	margin: -2em 0 0 0 !important;
	height:2em !important;
	line-height: .5em !important;
	
}

// 
//


// Specific to Index.html only
.sidebar li,
.accordion li {
	border:none !important;
}

@media (max-width: 600px) {
	
	.hve-earlier a, .hve-new a {
		padding: .2em .7em;
		font-size: .9em;
	}
}


i.fa.report {
	display: none !important;
}



// __________________________________________________ LANDINGG


.landing-content {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 */


padding:3em 0;
height:100%;
}


.landing a.call {
	background: #FF5A59;
	color: #fff;
	padding: .7em 1.5em;
	line-height: 7em;
	font-size: 1.7em;
	@include border-radius(.3em);
	@include opacity(.95);
	background: rgb(0,191,229); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmZlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDllYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,191,229,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,191,229,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,191,229,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,191,229,1) 0%,rgba(0,158,195,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,191,229,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,191,229,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfe5', endColorstr='#009ec3',GradientType=0 ); /* IE6-8 */

}
.landing a.call:hover {
	@include opacity(1);
}


.landing {
	color: #fff;
	display: block; // NO NEED IF YOU fix section:display:inline-block
	padding:0 !important;
	height:500px;

	.logo {
		width: 300px;
		height: auto;
		display: block;
	}
	h1 {
	font-size: 2.3em;
	line-height: 1.1em;
	font-weight: 300;
	text-shadow: 0px 3px 8px rgba(0,0,0,2) !important;
	text-align: left;
	font-family: Helvetica;
	color:#fff;
	}
	p.desc {
		font-weight: 300;
		font-size:1.5em;
		width:600px;
		max-width: 100%;
		margin:1em auto 0 auto;
		text-shadow: 1.5px 1.5px 0 #4197D1;
	}
}


@media (max-width: 600px) {

	.landing {
		padding:4em 0;
		height:380px;
		
		p.desc {
			font-size: 1.3em;
			margin: .5em auto 0 auto;
			line-height: 1.3em;
			padding: 0 2%;
			font-weight:400;
		}
		.logo {
			width: 240px;
			margin: 0 auto;
		}
		h1 {
			font-size: 1.8em;
			line-height: 1.3em;
			text-align: center;
		}
		a.call {
			font-size: 1.3em;
			padding: .7em 1.1em;
			margin: 2em auto 0 auto;
			display: block;
			line-height: 1.6em;
		}
	}
}//

// __________________________________________________ DESC


section.desc {
	padding:0 0 3em 0;
	display: block; // NOT NECCESSARY FIX section in other css
	color:#eee;
	
	h2 {
		font-weight: 200;
		text-align: center;
		font-family: helvetica;
		color:#e6e6e6;
		line-height: 1.3em;
	}
}

.desc img {
	width:100%; height:auto;
}


// __________________________________________________ APP section


section.app {
	display: block; // NOT NECCESSARY FIX section in other css
	padding:5em 0 3em 0;
	
	.mobile {
		display: none;
	}
}

@media (max-width: 768px) {
	
	section.app {
		padding:2em 0;
		
		.mobile {
			display: block;
		}
		.desktop {
			display: none;
		}
	}
}



section.app .plugin {
	padding: 0 3% .5em 3%;
	font-size: 1.1em;
	margin-bottom:3.5em;
	color: rgb(136, 136, 136);
	overflow: visible;
	@include border-radius(.2em);

	.feed-area {
		position: relative;
		padding:3em 0 0 0;
	}
	.hve-earlier,
	.hve-new {
		z-index: 2;
		height:3em;
		margin:0;
		font-size:.9em;
		position: absolute;
		
		a {
			font-size: 0.85em;
		}
	}
	.hve-earlier {
		top:1.2em;
	}
	.hve-new {
		width: 100%;
		text-align: center;
		height: auto;
		padding: 0;
		bottom: -.1em;
	}
	
	.post-area {
		padding:1em 0 0 0;
		
		img.profile-preview {
			width: 2.3em;
			height:auto;
			margin:0 .5em 0 4%;
		}
	}
}


@media (max-width: 768px) {
	
section.app .plugin {
		margin-bottom:1em;
		margin-top: 1em;

		.hve-earlier,
		.hve-new {
			left:0;
		}
	}
}//
 
@media (max-width: 600px) {
	
	section.app .plugin {
		border:none;
		padding:0;
	}
}




// __________________________________________________ SIDEBARR


@media (min-width: 1200px) {
	
	.sidebar {
		
		.ul.blog li {
			font-size:1.15em;
		}
	}
}


.sidebar {
	margin-top:1em;
	
	h2 {
		color: #7E7E7E;
		font-size: 1.6em;
		font-weight: 600;
		margin:1em 0;
		width:100%;
		float:left;
	}
	.panel-collapse .panel-body {
		padding:0 !important;
	}
	ul.blog {
		padding:0;
		margin:.5em 0 0 0;
	}
	ul.beta {
		margin:.5em 0 0 0;
		padding: 0 0 0 1.5em;
	}
	ul.beta li {
		color:rgb(143, 143, 143)
	}
	ul li {
		font-size: 1.2em;
		line-height: 1.4em;
		margin: 0 0 1em 0;
		float:left;
	}
	ul.blog li {
		list-style: none;
	}
	ul li .fa {
		font-size:.6em;
		margin: 0 .8em 0 0;
		color:#bababa;
	}
	img {
		width:35px;
		height:35px;
		float:left;
		margin:0 .8em .8em 0;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
		@include opacity(.7);
		@include border-radius(20px);
		@include transition(opacity 0.1s ease-out);
	}
	a:hover img {
		@include opacity(1);
		box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	}
	
	.beta-btn {
		margin:0 0 2em 0;
		font-size:1.2em;
		float:left;
		font-weight: 400;
	}
}


@media (max-width: 768px) {

	.sidebar {
		padding:0;
		
		h2 {
			color: $blue1;
			font-size: 1.6em;
			font-weight: 500;
		}
		h2 .fa {
			margin:0 0 0 .5em;
		}
		ul li {
			margin:0 0 1em 0;
		}
		ul li .fa {
			font-size:.6em;
			margin: 0 .8em 0 0;
			color:#bababa;
		}
		img {
			@include opacity(1);
		}
	}
}




// __________________________________________________ BETAA
// __________________________________________________ 



a.beta-btn {
	background: #FF7373;
	color: #fff;
	padding: 10px 20px;
	width: 100%;
	display: block;
	font-size: 1.3em;
	text-align: center;
	margin: 26px 0 0 0;
	@include opacity(.9);
	@include border-radius(.3em);
}

a.beta-btn:hover {
	@include opacity(1);
}

a.beta-btn.mobile {
	display: none;
}

.beta-banner {
	position: absolute;
	top:0;
	right:0;
	width:300px;
	height:200px;
	overflow: hidden;
		
	div {
		width: 20em;
		height: 3em;
		text-align: center;
		right: -2.5em;
		top: 1.5em;
		position: relative;
		background: #FF7373;
		color: #fff;
		font-size: 1.3em;
		line-height: 3.3em;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30);
		text-shadow: 1px 1px 1px rgb(167, 84, 84);
		@include rotate(35deg);
	}
}

@media (max-width: 600px) {

	.beta-banner {
		
		div {
			font-size: 1.1em;
			line-height: 2.9em;
			font-weight: 600;
			height: 2.7em;
			right: -5.8em;
		}
	}
}

@media (max-width: 768px) {

	a.beta-btn.desktop {
		display: none;
	}
	a.beta-btn.mobile {
		display: inline-block;
	}
}


/*
#beta-modal .modal-dialog {
	text-align: center;
	max-width:500px;
	width:100%;
	margin:3em auto;
	
	.modal-header {
		border:none;
	}
	h4.modal-title {
		margin:.3em 0 0 0;
		font-size: 2.5em;
		font-weight: 400;
	}
	.modal-body {
		padding-top:0;
		font-size:1.3em;
		
		div {
			margin: 1.5em auto 1.5em auto;
			display: block;
			width: 100%;
			max-width: 330px;
			
			input {
				max-width: 20em;
				font-size: .9em;
				margin: 0 0 .5em 0;
			}
			
			a.send {
				width:100%;
				margin:.7em 0 0 0;
				background:#FF7373;
				padding:.5em;
				display: block;
				color:#fff;
				font-size: .9em;
				@include opacity(.9);
				@include border-radius(.3em);
			}
			a.send:hover {
				color:#fff;
				@include opacity(1);
			}
		}
	}
	.modal-footer {
		border:none;
		
		button {
			margin:0 auto;
		}
	}
}
*/

// ________________________________ MODAL FEEDBACK

/*
.fa.success {
	font-size: 3em;
	margin:.3em 0 0 0;
	color: rgb(98, 202, 106);
}
p.success {
	font-size:1.5em;
	color:gray;
}
p.success-desc {
	margin:0 0 1em 0;
}

@media (max-width: 600px) {

#beta-modal .modal-dialog {
	width:94%;
	margin:1.5em auto 0 auto;
	
	.modal-body form {
		margin: 1.5em auto .5em auto;
	}
}

	.modal-dialog {
		
		.modal-body {
			font-size:1.1em;
		}
	}
}

*/









// __________________________________________________ SIDEBARR (latest)

.app {

	h2 {
		font-size:1.7em;
		margin:0 0 1em 0;
	}
}

.sidebar {
	margin: .5em 0 0 0;
}

ul.dev {
	padding:0;
	
	li {
		list-style: none;
		margin: 0 0 .7em 0;
		font-size: 1.1em;
		color: #707070;
		padding: .5em .7em;
		box-shadow: 1px 1px 5px #DEDEDE;
		background: #fafafa;
		line-height: 1.4em;
		border-left: 5px solid orange;
	}
	span {
		display: block;
		color: #A6A6A6;
		font-size: 1.1em;
		font-weight: 300;
		margin: 0.8em 0 .2em 0;
	}
}



@media (max-width: 768px) {

	.app .accordion .fa {
		margin:0 0 0 .4em;
	}
	ul.dev {
		margin: 0 0 2em 0;
	}
}


@media (max-width: 600px) {
	
	section.app {
		padding:0 0 2em 0;
	}
	.sidebar {
		padding:0;
	}
	.app h2 {
		margin:1em 0;
	}
	.panel-body {
		padding:0;
	}
	#accordion {
		padding:0;
	}
	ul.dev li {
		font-size:1.2em;
		background:#fff;
		
		span {
			color:gray;
		}
	}
	// mobile accordion sidebar
	.container.accordion.mobile {
		border-bottom: 1px solid rgb(226, 226, 226);
		padding-bottom: 0em;
		margin: 0 0 2em 0;
		background: rgb(248, 248, 248);
	}
}






section.meat {
	padding:5em 0;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.47);
	display: block;
	
}

.meat {
	
	.header {
		font-size: 2.2em;
		font-weight: 400;
		margin: .8em 0;
	}
	.item {
		float:left;
		font-size:1.2em;
		color: #767676;
	}
	
	.item p {
		font-size: 1.3em;
		line-height: 1.2em;
		margin: 1em 0 0 0;
	}
	
	.item p.middle {
		margin:.4em 0 0 0;
	}
	
	.graphic {
		font-size:2.6em;
		color: #24ACFF;
		line-height: 0;
		float:left;
		min-width: 2.4em;
		margin: 0 0 1em 0;
	}
}


@media (max-width: 600px) {
	
	.meat {
	
		header {
			margin: .4em 0 .7em 0;
		}
		.item {
			padding:0;
		}
	}
}


.index-generate {
	background: black;
	padding:13em 0;
	
	.top {
		position: relative;
	}
	.hve-type {
		bottom: .19em;
		font-size: 1.5em;
		top:auto;
	}
	
	.header {
		font-size: 2.7em;
		color: #F2F2F2;
		line-height: 1.3em;
		margin: 0 0 0.7em 0;
		font-weight: 300;
	}
	
	.generate {
		background: rgba(0,0,0,0.7);
		padding: 3em;
		@include border-radius(.4em);
	}
	
	p.desc.hve-warning a {
		color:#e8e8e8;
		font-weight: 300;
	}
	
	.generate-link p.desc {
		font-weight: 300;
		color: #ADADAD;
		padding: 0 17%;
		text-align: center;
	}
	
	.con-gen {
	
		// Launch Your Conversation
		a.call {
			display: block;
			background: rgb(6, 169, 255);
			text-align: center;
			color: #fff;
			padding: .6em;
			font-size: 1.2em;
			width:100%;
			float:left;
			margin:1em 0 0 0;
			@include border-radius(.2em);
		}
	}
	.hve-link {
		display: block;
	}
	
	.generate-link .send {
		background: #E86060;
		text-shadow: none;
		font-size: 1.2em;
			@include opacity(.96);
	background: rgb(0,191,229); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmZlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDllYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,191,229,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,191,229,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,191,229,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,191,229,1) 0%,rgba(0,158,195,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,191,229,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,191,229,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfe5', endColorstr='#009ec3',GradientType=0 ); /* IE6-8 */
	}
	.generate-link .send:hover {
		@include opacity(1);
	}
}

@media (min-width: 1200px) {
	
	.index-generate {
		
		.header {
			font-size:2.8em;
		}
	}
}



.hve-feed {
font-size: 1.2em;

 p {
	 padding:0 !important;
	 color: #7B7B7B !important;
 }
}





footer {
	background: rgb(52, 52, 52);
	padding:2em 0;
	overflow: hidden;
	background: url('../img/texture.png');
}

.logo-footer {
	width: 210px;
	float: right;
	margin: .5em 0 0 0;
}



ul.legal {
	margin:1em 0 0 0;
	float:left;
	
	 li {
			display: inline;
			font-size: .95em;
			color:#ccc;
			padding:0 .9em;
			border-right:1px solid gray;
		
		a {
			color:#a9a9a9;
			font-weight: 300;
		}
		a:hover {
			color:#fff;
		}
	}
}

ul.social {
	padding:0 0 0 1em;
	margin:0;
	font-size: 1.1em;
	float:left;

	
	li {
		display: inline;
	}
	a {
		color:#ccc;
		font-size: 3em;
	}
	span {
		font-size: .5em;
		padding: 0 0 0 .2em;
	}
	a:hover {
		color:#fff;
	}
}



.plugin {
	margin-top:-4em;
	margin-bottom:-4em;
	background:#fff;
	padding:2em;
	@include border-radius(.4em);
	box-shadow: 0px 0px 7px rgba(0,0,0,0.25);
}

section.meat {
	padding:2em 0;
	background: #F7F7F7;
	
	.call {
		color: #fff;
		background: rgb(255, 100, 100);
		display: block;
		font-weight: 600;
		padding: .8em 0;
		font-size: 1.05em;
		@include border-radius(.3em);
		margin:1em 0;
		text-align: center;
	}
	.call:hover {
		background: rgba(252,74,74,1);
	}
}

@media (max-width: 768px) {
	.plugin {
		margin-top:2em;
	}
	.meat .item {
		text-align: center;
		margin: 1em 0 0 0;
		font-size:1.1em;
	}
	.meat .graphic {
		text-align: center;
		font-size:3.8em;
		margin:0;
		width:100%;
	}
	.meat .left .header {
		display: none;
	}
	.meat .item p {
		font-size: 1.3em;
		color: #7a7a7a;
		line-height: 1.2em;
	}
}

@media (max-width: 600px) {
	
	.plugin {
		margin-top:0;
		padding:1em;
	}
	.index-generate {
		padding: 7em 0 6em 0;
		display: block;
		
		.hve-type {
			font-size: 1.1em;
			bottom: .37em;
		}
		
		input#inp-title {
			font-size: 1.05em;
		}
		
		.generate {
			padding:2em 1em;
		}
		
		.header {
			font-size: 1.6em;
			font-weight: 400;
		}
		.generate-link .send {
			font-size:1.05em;
		}
		.generate-link p.desc {
			padding:0 1em;
		}
		.con-gen a.call {
			font-size:1em;
		}
	}
	.meat .item {
		margin:0 0 1.5em 0;
	}
	
	.logo-footer {
		display: block;
		float: none;
		margin:1em auto;
		width:180px;
		
	}
	ul.social {
		padding:0;
		width:100%;
		text-align: center;
		margin:0 0 1em 0;
	}
	ul.legal {
		float:left;
		width:100%;
	
		li {
			display: block;
			border:none;
			padding:0;
			text-align: center;
			margin:0 0 1em 0;
		}
	}
}

@media (min-width: 990px) {
	
	ul.social {
		width:70%;
	}
}


.modal-title {
	font-size:1.4em;
}
.modal-content {
	font-size:1.3em;
	color:#5A5A5A;
}









