@import '_mixins';
@import '_bootstrap-index';
@import '_bootstrap.theme';
@import '_general';
@import '_font-awesome';


.container {
	position: relative;
}

.logo {
	width:100%;
	max-width:220px;
	margin:5em 0 2em 0;
}

a.login {
	position: absolute;
	font-size:1.1em;
	padding:.4em 1em;
	top:3em;
	z-index: 999;
	right:1em;
	color: #00A4FF;
	border:1px solid #00A4FF;
	@include border-radius(.3em);

}

.landing {

	span.desc {
		font-size:1.5em;
		margin:0 0 1.5em 0;
		display: block;
		color:#888;
		font-weight: 300;

		b {
			font-weight: 500;
		}
	}
}

.app-send {

	input {
		border: 1px solid #00A4FF;
		padding: .4em 1em;
		min-width: 17em;
		display: block;
		width:100%;
		margin:0 .3em 0 0;
		font-size: 1.3em;
		@include border-radius(.3em);
	}
	a.send {
		background: #00A4FF;
		color:#fff;
		display: block;
		border: 2px solid #00A4FF;
		font-size: 1.3em;
		text-align: center;
		margin:.5em 0 0 0;
		padding: .35em .9em .4em 1em;
		@include border-radius(.3em);

		.fa {
			padding: 0 0 0 .3em;
		}
	}
}

.app-stores {
	margin:2em 0 0 0;

	img {
		max-height: 55px;
		float:left;
		width:auto;
		margin:1em 1em 0 0;
	}
}

.app-preview {

	img {
		margin:8em 0 0 0;
		width:100%;
		height:auto;
	}
}



footer {

	ul {
		padding:0;
		margin:4em 0 0 0;
	}
	li {
		list-style: none;
		display: inline;
		padding:0 .5em 0 0;
		margin:0 0 0 .5em;
		border-right:1px solid rgb(221, 221, 221);;

		&:first-child {
			margin:0;
		}
		&:last-child {
			border:none;
		}
	}
}




@media (max-width: 990px) {
	.app-send input {
		min-width:initial;
	}
}





@media (max-width: 600px) {

.landing {

		.logo {
			display: block;
			margin:6em auto 2em auto;
			width:200px;
		}
		span.desc {
			text-align: center;
			font-size:1.3em;
			margin: 0 0 2em 0;
		}
		.container {
			padding:0;
		}
		.app-send {
			display: none;
		}
		.app-stores img {
			margin:0 auto .5em auto;
			float:none;
			display: block;
		}
		.app-preview img {
			margin:2em 0 0 0;
		}
	}

	footer {

		ul {
			margin:0;
		}

		li {
			display: block;
		}
	}
}












