
// __________________________________________________ LANDINGG

.landing {
	padding: 4em 0 11em 0;
	color:#fff;
	text-align: center;
	display: block; // NO NEED IF YOU fix section:display:inline-block

	.logo {
		width:150px;
		height:auto;
		display: block;
		margin:0 auto;
	}
	h1 {
		font-size: 2.4em;
		font-weight: 400;
		line-height: 1.3em;
		text-shadow: 1.5px 1.5px 0 #4197D1;
		margin-top:1em;
	}
	p.desc {
		font-weight: 400;
		font-size:1.2em;
		width:50%;
		margin:0 auto;
	}
}


@media (max-width: 600px) {

	.landing {
		.logo {
			width:130px;
		}
		h1 {
			font-size:1.8em;
		}
	}
}//

// __________________________________________________ DESC


section.desc {
	padding:0 0 3em 0;
	display: block; // NOT NECCESSARY FIX section in other css
	color:#eee;
	
	h2 {
		font-weight: 200;
		text-align: center;
		font-family: helvetica;
		color:#e6e6e6;
		line-height: 1.3em;
	}
}

.desc img {
	width:100%; height:auto;
}


// __________________________________________________ PLUGINN

section.app {
	display: block; // NOT NECCESSARY FIX section in other css
}

section.app .plugin {
	padding: 0 3% .5em 3%;
	background:#fff;
	border: 1px solid #eee;
	overflow: hidden;
	font-size: 1.1em;
	margin-top:-4em;
	margin-bottom:3.5em;
	box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
	@include border-radius(10px);

	.feed-area {
		overflow: hidden;
		position: relative;
		padding:2em 0 0 0;
	}
	.hve-earlier {
		z-index: 2;
		height:4em;
		background:#fff;
		position:absolute;
		top:0;
		padding:2em 0 0 0;
		margin:0;
		@include border-top-radius(10px);
		
	}
	
	.post-area {
		padding:1em 0 0 0;
		
		img.profile-preview {
			width: 2.3em;
			height:auto;
			margin:0 .5em 0 4%;
		}
	}
}


@media (max-width: 600px) {
	
section.app .plugin {
		margin-bottom:3.5em;
		margin-top: -4em;

		.feed-area {
			padding: 2em 5% 0 5%;
		}
	}
}//


// __________________________________________________ FEATURESS

.features {
	padding:2em 0 6em 0;
	display: block; // NOT NECCESSARY FIX section in other css
	color:#e5e5e5;
	margin-top:-6em;
	
	div {
		padding:0;
	}
	
	h2 {
		width: 100%;
		font-size: 2.3em;
		font-weight: 300;
		padding:0;
		color:#fff;
		margin: 0 0 1.5em 0;
	}
	span {
		display: inline;
		font-size:1.1em;
		padding:0 0 0 .4em;
		color:rgb(182, 182, 182)
	}
	label {
		font-size: 1.5em;
		font-weight: 600;
		color:rgb(114, 114, 114);
	}
	ul {
		margin:.3em 0 2em 0;
	}
	li {
	 list-style: none;
	 font-size: 1.2em;
	 line-height: 1.3em;
	 margin: 0 0 .7em 0;
	 color:#919191;
	}
	li i {
		margin:0 .7em 0 0;
		font-size: .85em;
		color:$blue1;
	}
	li i.req {
		color:gray;
	}
	li i.sending,
	li i.sent {
		color:#95DB71;
	}
	li i.sent {
		font-size:1em;
	}
	input {
		font-size: 1em;
	}	
}

@media (min-width: 768px) {

	.features {
	
		// ACCODRION CONTENT:
		// Desktop visible onload
		// Mobile hidden onload
		
		.collapse {
			display: block !important;
		}
	}
} // min 768

@media (max-width: 768px) {
	
	.features {
		padding:0 0 3em 0;
		margin-top: -8em;
		
		ul {
			margin:0 0 3em 0;
		}
	}
} // max 768


// __________________________________________________ BETAA
// __________________________________________________ 



img.beta-banner {
	width:180px;
	height:auto;
	position:absolute;
	top:0;
	right:0;
}

@media (max-width: 600px) {

	img.beta-banner {
		width:140px;
	}
}


.modal-dialog {
	
	h4.modal-title {
		font-size: 2em;
		font-weight: 600;
	}
	.modal-body {
		font-size:1.3em;
		
		input {
			max-width: 20em;
			margin:.7em 0 0 0;
			font-size: .9em;
		}
	}
}

@media (max-width: 600px) {
	
	.modal-dialog {
		
		.modal-body {
			font-size:1.1em;
		}
	}
}

// __________________________________________________ FOOTERR
// __________________________________________________ 

footer {
	padding:2em 0;
	color:#858585
}

ul.legal {
	display: inline;
}
.copyright {
	float:right;
}


@media (max-width: 600px) {
	
	footer {
		padding:1em 0;
	
		.copyright {
			float:left;
		}
	}
}//





















