
// ______________________________________________________ FEED
// ______________________________________________________ options


.hve-container {
	max-width: 45em;
	min-width:20em;
	margin:0 auto 4em auto;
	padding:0 2em;
}


.hve-load {
	font-size: 1.3em;
	font-weight: 400;
	color: rgb(146,146,146);
	text-align: center;
	margin:3em 0 0 0;

	i {
		line-height: 1.7em;
		font-size: 1.5em;
		color: rgb(226, 226, 226);
	}
}

.hve-earlier {
	text-align: center;
	margin: 2em 0 3em 0;
	width:100%;
	
	a {
		background: #fff;
		padding:0 .6em;
	}
}

@media (max-width: 600px) {
	
	.hve-container {
		padding: 0 1em;
		min-width: 17em;
	}
}


// ______________________________________________________ MESSAGES
// ______________________________________________________ in 
// ______________________________________________________ feed


.msg {
	width:100%;
	display: inline-block;
	margin:0 0 2em 0;
	position: relative;
	
	p {
		line-height: 1.5em;
	}
	
	.details {
		line-height: 1.1em;
		margin:1em 0 0 0;
		display: inline-block;
		width:100%;
	
		div {
			float:left;
		}
		.author-img {
			width:2.2em;
			height:2.2em;
			margin: -.15em .6em 0 0;
			overflow: hidden;
			@include border-radius(2em);
		}
		.author-img img {
			width:2.2em;
			height:auto;
		}
		.author-name {
			font-size: .95em;
			line-height: .9em;
		}
		.author-name.guest {
			color:rgb(134, 134, 134);
		}
		.timestamp {
			color: #B9B9B9;
			font-size:.8em;
			margin: 0 0.6em 0 0;
		}
	}
	.truncate {
		font-size:.9em;
		padding: 0 0 0 .3em;
	}
}

.attachment {
	width:100%;
	margin:1em 0 0 0;
	color:#888;
	display: inline-block;
	
	.img {
		float:left;
		margin:0 .5em .7em 0;
	}
	img {
		width:3.2em;
		@include border-radius(.2em);
	}
	.title {
		line-height: 1em;
	}
	.download, span /* span: JPG (3.2MB) */ {
		font-size:.9em;
		line-height: 1.9em;
	}
}


@media (max-width: 600px) {

	.msg .details .author-name {
		line-height: .7em;
	}
}

// ______________________________________________________ REPORT
// ______________________________________________________ msg


i.fa.report {
	float:left;
	margin:0 .4em 0 0;
	font-size: .8em;
	line-height: 1.4em;
	color:#bababa;
}
.report-label {
	font-size: .85em;
	margin:0 .5em 0 0;
	color:#989898;
	float:left;
}
ul.report {
	font-size: .85em;
	line-height: 1.4em;
	display: inline-block;
	
	label {
		display: none;
	}
	li {
		display: inline-block;
	}
	a {
		text-decoration: underline;
		margin:0 .5em 0 0;
	}
	a.close, a.close .fa {
		text-decoration: none;
		color: #989898;
	}
}

@media (max-width: 600px) {

	.report-label {
		font-size:.95em;
		width:100%;
		margin:.5em 0 0 0;
	}
	ul.report {
		font-size:1em;
		line-height: 1.6em
	}
}


// ______________________________________________________ POST
// ______________________________________________________ (write message)


.hve-post {
	width:100%;
	display: inline-block;
	padding: 0 0 .25em 0; // for the bottom of the native button:focus fuz
	margin: 0 0 1em 0;
	
	.textarea {
		border:1px solid #bbb;
		width: 96%;
		max-width:96%;
		margin:0 0 1em 0;
		padding:2%;
		@include border-radius(.3em);
	}
	
	textarea {
		width:100%;
		max-width: 100%;
		font-size: 1em;
		border:none;
		padding:0 0 .5em 0 !important;
	}
	textarea:focus {
		outline: 0;
	}
	
	.post-options {
		margin:.5em 0 0 0;
	}
	.btn {
		padding: .55em 1.1em .65em .65em;
		margin:0 0 0 .5em;
		float:right;
		color:#fff;
		background: #b0b0b0;
		border:none;
		@include border-radius(3px);
		
		.fa {
			font-size: 1.3em;
			padding: 0 .3em 0 0;
		}
	}
	.btn:hover {
		background:#898989
	}
	.btn.user {
		background:$blue1;
	}
	.btn.user:hover {
		background: $blue2;
	}
}

.attach {
	display: inline-block;
	
	.fa {
		font-size:1.2em;
	}
	img {
		float:left;
		margin: 0 .2em 0 0;
		width:3.2em;
		@include border-radius(.2em);
	}
}

@media (max-width: 600px) {

	.attach {
	
		img {
			width:2.5em;
		}
		.fa {
			font-size:1.2em;
		}
	}
}


// ______________________________________________________ REGISTER
// ______________________________________________________ &
// ______________________________________________________ LOGIN


.hve-regin {
	width:100%;
	text-align: center;
	
	// "Register below"
	span.header {
		display: block;
		font-size: 1.4em;
		line-height: .6em;
		color: $blue2;
		margin: 1.2em 0 0;
		
		span {
			font-size:.85em;
		}
	}
	// "You won't lose your comment!
	span.desc {
		@extend span.header;
		color: rgba(169,169,169,1);
		font-size: .95em;
		margin: 0;
		line-height: 1.1;
	}
	
	form {
		max-width: 17.6em;
		margin:0 auto;
	}
	label {
		padding: .7em 0 .1em 0;
		display: inline-block;
		font-size:.9em;
		display: none; // for now TEMPORARY? 
	}
	input {
		width: 19.2em;
		float:right;
		padding: .7em .7em .55em;
		font-size: .85em;
		border:1px solid #b7b7b7;
		margin: .5em 0;
		@include border-radius(2px);
	}
	.btn {
		background: $green1;
		color: #fff;
		float: left;
		margin:.3em 0 0 0;
		width: 100%;
		padding: .7em 0 .75em;
		@include border-radius(4px);
	}
	.btn:hover {
		background:$green11;
	}
	.already-member {
		line-height: 3em;
	}
	
}


@media (max-width: 600px) {
	

}






