$blue0 		: #A8D5FF; // blue - light 
$blue1 		: #529FE7; // blue - light
$blue2 		: #068DD5; // blue - light darker

$green1  	: #67C372; // green1
$green11 	: #64C770; // green1 same but slightly lighter

$red1 		: #FF6E6E; // light red (pink)

.none 		{display: none;}

body, 
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	color: #9B9B9B;
}

a,
a:hover {
	color:$blue1;
	text-decoration: none;
}
a:hover {	
	color:$blue2;
}

@media (max-width: 600px) {
	
	.col-xxs-12 {
		width:100%;
		margin:0;
	}
}